# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# Build / Packaging
build/
dist/
*.egg-info/

# OS-specific
.DS_Store
Thumbs.db

# XAMPP / MySQL dumps
*.sql
*.sql.gz

# Installer / Executables
*.exe
*.msi
*.deb
*.AppImage

# Local configs
config.json
settings.ini
